<h1>Productos en Tiempo Real</h1>

<form id="productForm">

    <input
        type="text"
        id="title"
        placeholder="Título"
        required
    >

    <input
        type="number"
        id="price"
        placeholder="Precio"
        required
    >

    <button type="submit">
        Agregar Producto
    </button>

</form>

<hr>

<div id="products"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>